Pillow==11.1.0
PyYAML==6.0.2
asarPy==1.0.1
click==8.1.8
dearpygui==2.0.0
i18nice==0.15.5
imagequant==1.1.3
mozjpeg_lossless_optimization==1.1.5
numpy==2.2.2
pywin32==308
soundfile==0.13.1
zopflipy==1.11
